<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/main.css">
    <title>Document</title>
</head>
<body>
        <div id="search-bar">
            <input type="text" id="search" placeholder="Track your Artist...">
        </div>

        <div id="container">
        <div id="artist-card">
            
            <div id="box-wrapper" class="Queen ">
                <img src="https://groupietrackers.herokuapp.com/api/images/queen.jpeg" alt="{{ .Name}} cover">
                <h3 id="box-name">Queen</h3>
            </div>
            
            <div class="box-content-wrapper hide " >
                <div id="back-btn">
                    <h1>X</h1>
                </div>
                <div id="name-box">
                    <img src="https://groupietrackers.herokuapp.com/api/images/queen.jpeg" alt="{{ .Name}} cover">
                    <div>
                        <p id="content-name"> Queen</p>
                        <p id="content-creationDate">Created in 1970</p>
                        <p id="content-firstAlbum">First Album "14-12-1973"</p>
                    </div>
                </div>
                
                <div id="members">
                    <p>Members</p>
                    <ul>
                        <li>"Freddie Mercury"</li>
                        <li>"Brian May"</li>
                        <li>"John Daecon"</li>
                        <li>"Roger Meddows-Taylor"</li>
                        <li>"Barry Mitchell"</li>
                    </ul>
                </div>
                
                <div id="shows">
                    
                    <div>
                        <p id="content-shows">Shows</p>
                        <h4>auckland-new_zealand:</h4> 
                        <li>27-02-2020</li>
                        <li>27-02-2020</li>
                        <li>27-02-2020</li>
                        <h5>auckland-new_zealand:</h5> 
                        <li>20-11-2019</li>
                        <h5>auckland-new_zealand:</h5> 
                        <li>20-11-2019</li>
                        <h5>auckland-new_zealand:</h5> 
                        <li>27-02-2020</li>
                        <li>27-02-2020</li>
                        <li>27-02-2020</li>
                        <h5>auckland-new_zealand:</h5> 
                        <li>20-11-2019</li>
                        <h5>auckland-new_zealand:</h5> 
                        <li>20-11-2019</li>
            
                    </div>
                        </div>
                    </div>
                </div>
        <div id="artist-card">
            
            <div id="box-wrapper" class="Soja">
                <img src="https://groupietrackers.herokuapp.com/api/images/queen.jpeg" alt="{{ .Name}} cover">
                <h3 id="box-name">Soja</h3>
            </div>
            
            <div class="box-content-wrapper hide " >
                <div id="back-btn">
                    <h1>X</h1>
                </div>
                <div id="name-box">
                    <img src="https://groupietrackers.herokuapp.com/api/images/queen.jpeg" alt="{{ .Name}} cover">
                    <div>
                        <p id="content-name"> Queen2</p>
                        <p id="content-creationDate">Created in 1970</p>
                        <p id="content-firstAlbum">First Album "14-12-1973"</p>
                    </div>
                </div>
                
                <div id="members">
                    <p>Members</p>
                    <ul>
                        <li>"Freddie Mercury"</li>
                        <li>"Brian May"</li>
                        <li>"John Daecon"</li>
                        <li>"Roger Meddows-Taylor"</li>
                        <li>"Barry Mitchell"</li>
                    </ul>
                </div>
                
                <div id="shows">
                    
                    <div>
                        <p id="content-shows">Shows</p>
                        <h4>auckland-new_zealand:</h4> 
                        <li>27-02-2020</li>
                        <li>27-02-2020</li>
                        <li>27-02-2020</li>
                        <h5>auckland-new_zealand:</h5> 
                        <li>20-11-2019</li>
                        <h5>auckland-new_zealand:</h5> 
                        <li>20-11-2019</li>
                        <h5>auckland-new_zealand:</h5> 
                        <li>27-02-2020</li>
                        <li>27-02-2020</li>
                        <li>27-02-2020</li>
                        <h5>auckland-new_zealand:</h5> 
                        <li>20-11-2019</li>
                        <h5>auckland-new_zealand:</h5> 
                        <li>20-11-2019</li>
            
                    </div>
                        </div>
                    </div>
                </div>
        <div id="artist-card">
            
            <div id="box-wrapper" class="50Cents">
                <img src="https://groupietrackers.herokuapp.com/api/images/queen.jpeg" alt="{{ .Name}} cover">
                <h3 id="box-name">50Cents</h3>
            </div>
            
            <div class="box-content-wrapper hide " >
                <div id="back-btn">
                    <h1>X</h1>
                </div>
                <div id="name-box">
                    <img src="https://groupietrackers.herokuapp.com/api/images/queen.jpeg" alt="{{ .Name}} cover">
                    <div>
                        <p id="content-name"> Queen3</p>
                        <p id="content-creationDate">Created in 1970</p>
                        <p id="content-firstAlbum">First Album "14-12-1973"</p>
                    </div>
                </div>
                
                <div id="members">
                    <p>Members</p>
                    <ul>
                        <li>"Freddie Mercury"</li>
                        <li>"Brian May"</li>
                        <li>"John Daecon"</li>
                        <li>"Roger Meddows-Taylor"</li>
                        <li>"Barry Mitchell"</li>
                    </ul>
                </div>
                
                <div id="shows">
                    
                    <div>
                        <p id="content-shows">Shows</p>
                        <h4>auckland-new_zealand:</h4> 
                        <li>27-02-2020</li>
                        <li>27-02-2020</li>
                        <li>27-02-2020</li>
                        <h5>auckland-new_zealand:</h5> 
                        <li>20-11-2019</li>
                        <h5>auckland-new_zealand:</h5> 
                        <li>20-11-2019</li>
                        <h5>auckland-new_zealand:</h5> 
                        <li>27-02-2020</li>
                        <li>27-02-2020</li>
                        <li>27-02-2020</li>
                        <h5>auckland-new_zealand:</h5> 
                        <li>20-11-2019</li>
                        <h5>auckland-new_zealand:</h5> 
                        <li>20-11-2019</li>
            
                    </div>
                        </div>
                    </div>
                </div>
        



























            </div>


            <script>
            const artist_card = document.querySelectorAll("#box-wrapper")
            const box_containers = document.querySelectorAll(".box-content-wrapper")
            const exit_btn = document.querySelectorAll("#back-btn")
            
            function show(e){
                box_containers.forEach(box => box.classList.add("hide"))
                const parentElement = e.currentTarget.parentElement
                const content = parentElement.querySelector(".box-content-wrapper")
                content.classList.remove("hide")
            }
            function hide(e){
                e.currentTarget.parentElement.classList.add("hide")
            
            }
            artist_card.forEach(box => box.addEventListener('click', show))
            exit_btn.forEach(btn => btn.addEventListener('click', hide))


            // SEARCH BAR
            const searchInput = document.querySelector("#search")
            searchInput.addEventListener('input' , filter)  
             function filter(e){
                const artist_card = document.querySelectorAll("#box-wrapper")
                const userInput = e.target.value.toLowerCase()
                artist_card.forEach(function(artist){
                    const className = artist.className.toLowerCase()
                    if (className.indexOf(userInput) == -1){
                        artist.classList.add("hide")
                        console.log(className.indexOf(userInput))
                    }else{
                        artist.classList.remove("hide")
                    }
                })
             }
        </script>
</body>
</html> -->